<%= form_tag("/check", method: "post") do %>
    <h2>Check a Porker Hand</h2>
    <input name="hands" type="text" value="<%= params[:hand] %>">
    <input type="submit" value="Check!">
    <h2><%= @suits %></h2>
    <h2><%= @numbers %></h2>
    <h2><%= @suits_pairs %></h2>
    <h2><%= @numbers_pairs %></h2>
    <!--<h2><%= @hand %></h2>-->
<% end %>
